@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    background-color: #ddd;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #4D41C0;
    color: white;
}

a, a:hover{
        text-decoration: none;
        color: unset;
}